
.modal-header {
  background: $dark-purple;
  color: $white;
}
a {
  &:focus {
    outline: none;
  }
  cursor: pointer;
}
.sdm-bg {
  color: $white;
  background: $purple;
  // @include gradient-horizontal($gradient_color_2, $gradient_color_1, 0%, 100%);
  position: relative;
  
}

.scroll-nav {
  li {
    a {
      &.sdm-active {
        background: $white;
        color: $purple ;
        height: 20px;
        border-radius: 5px;
        animation: grow .25s ease;
      }
    }
    &.active {
      a {
        background: transparent;
        color: $white;
      }
    }
  }

}
hr {
  border : 0;
  height: 3px;
  background: $white;
  width: 30px;
}
.margin-top-100 {
  margin-top: 100px;
}
.margin-bottom-135 {
  margin-bottom: 135px;
}
.margin-top-30 {
  margin-top: $font-size-h2;
}
.margin-bottom-18 {
  margin-bottom: $font-size-h4;
}

.filter-btns {
  .nav-pills {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    li {
      a {
        &.programs-btn-active {
          color: $color-orange;
          border-bottom: 2px solid $color-orange;
        }
      }
    }
  }

}
.position-relative {
  position: relative;
  top: -50px;
  .position-absolute {
    background: $white;
    border-radius: 20px;
  }
}
.filter-btns {
  .nav-pills {
    li {
      a {
        padding-top: $font-size-h1;
        padding-bottom: $font-size-h2;
        font-weight: 700;
        padding-left: 0;
        padding-right: 0;
        text-transform: uppercase;
        margin-left: $font-size-h3;
        margin-right: $font-size-h3;
        font-size: $font-size-base;
        color: $color-grey;
        border-bottom: 2px solid transparent;
        &:hover {
          border-bottom: 2px solid;
        }
      }
    }
  }
}

#mix-wrapper {
  margin-top: 40px;
  margin-bottom: 78px;
  #effect-5 {
    .mix-target {
      margin-bottom: $font-size-h3;
      padding-left: $font-size-small;
      padding-right: $font-size-small;
    }

  }
}
@keyframes grow {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.block {
  margin-top: 26px;
  margin-bottom: 26px;
  h4 {
    color: $gray;
    margin-bottom: $font-size-base;
  }
  p {
    color: $gray;
  }
}
.icon-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: $color-light-grey;
  li {
    margin-bottom: $font-size-base;
  }
  i {
    margin-right: $font-size-base;
  }
}
#features {

  h3 {
    font-weight: 700;
    i {
      margin-right: $font-size-base;
    }
  }
  .block {
    h4,p {
      color: $white;
    }
  }
  .container {
    .row {
      .col-sm-4 {
        padding-right: $font-size-small;
        padding-left: $font-size-small;
      }
    }
  }
}
#support-us {
  padding-top: 140px;
  padding-bottom: 140px;

  i {
    color: $color-orange;
    // background: -webkit-linear-gradient($gradient_color_2, $gradient_color_1);
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;
  }
  h3 {
    margin-top: 0;
    margin-bottom: $font-size-large;
  }
  h4 {
    margin-top: 0;
    margin-bottom: $font-size-h1;
  }
}
.margin-top-55 {
  margin-top: 55px;
}
.margin-bottom-55 {
  margin-bottom: 55px;
}
.margin-top-76 {
  margin-top: 76px;
}
.btn-orange {
  background: $color-webellion-red;
  padding: 15px 30px;
  border: 2px solid $color-webellion-red;
  transition: all 0.5s ease-out;
  font-weight: 700;
  text-transform: uppercase;
  color: $white;
  &:hover {
    background: $white;
    color: $color-webellion-red;
  }
}


#home {
  ul {
    &.menu-center {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      li {
        a {
          padding-top: 0;
          font-size: 12px;
          font-family: $font-open;
          font-weight: normal;
          text-transform: uppercase;
          display: inline-block;
          position: relative;
          &:after {
            content: '';
            display: block;
            margin: 10px auto auto auto;
            height: 3px;
            width: 0px;
            background: transparent;
            transition: width .5s ease, background-color .5s ease;
          }
          &:hover {
            &:after {
              width: 100%;
              background: $white;
            }
          }
        }

      }
    }
  }  
}

#contact-us {
  padding-top: 90px;
  padding-bottom: 90px;

  box-shadow: 0 5px 50px rgba(0, 0, 0, 0.5);

  .block {
    h4 {
      color: $white;
    }
  }
  h3 {
    margin-top: 0;
    font-weight: 700;
  }
  form {
    margin-top: $font-size-h2;
    margin-bottom: $font-size-h2;
    .form-group {
      input::-webkit-input-placeholder {
        color: $pink;
      }

    input:-moz-placeholder { /* Firefox 18- */
      color: $pink;
    }

    input::-moz-placeholder {  /* Firefox 19+ */
      color: $pink;
    }

    input:-ms-input-placeholder {
      color: $pink;
    }
    textarea::-webkit-input-placeholder {
      color: $pink;
    }

    textarea:-moz-placeholder { /* Firefox 18- */
      color: $pink;
    }

    textarea::-moz-placeholder {  /* Firefox 19+ */
      color: $pink;
    }

    textarea:-ms-input-placeholder {
      color: $pink;
    }
  }
  label {
    font-size: $font-size-base;
    font-weight: 300;
  }
  .form-control {
    background: transparent;
    border:0;
    color: $white;
    border-radius: 0;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    border-bottom: 2px solid $white;
    box-shadow: none;
    transition: all 0.5s ease;
    &:focus {
      border-top: 2px solid $white;
      border-left: 2px solid $white;
      border-right: 2px solid $white;

    }
  }

}
}
/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Figures
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */
.modal-title {
  font-weight: 700;
}
.modal-body {
  img {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
figure {
  margin: 0;
  position: relative;
  img {
    display: block;
    position: relative;
    z-index: 10;
    max-width: 100%;
    height: auto;
  }
  figcaption {
    display: block;
    position: absolute;
    z-index: 5;
    a {
      display: block;
      width: 100%;
      height: 100%;
      &:hover {
        text-decoration: none;
      }
    }
  }
  h3 {
    color: #fff;
  }
  span {
    color: $white;
  }
}

// figure a.close-caption {
//   display: block;
//   position: absolute;
//   width: 44px;
//   height: 44px;
//   text-align: center;
//   line-height: 44px;
//   font-size: 24px;
//   font-weight: 700;
//   color: #315a7d;
// }
// figure a.close-caption.hidden {
//   display: none
// }
/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Effect 5
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */
#effect-5 figure a.close-caption {
  bottom: 10px;
  left: 10px;
}
#effect-5 figure figcaption {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: $purple;
  // @include gradient-horizontal($gradient_color_2, $gradient_color_1, 0%, 100%);
  padding: 20px;
  text-align: center;
  text-transform: capitalize;
}
#effect-5 figure img {
  transition: all 0.5s;
}
// .no-touch
#effect-5 figure:hover img,
#effect-5 figure.hover img {
  opacity: 0
}
/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Slider
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */
/* Carousel */
.carousel {
  margin-top: 90px;
  margin-bottom: 90px;
  ol {
    margin-bottom: 0;
  }
}
#quote-carousel .carousel-control {
  background: none;
  color: $pink;
  text-shadow: none;
  margin-top: 30px;
}

#quote-carousel .carousel-indicators {
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
#quote-carousel .carousel-indicators li {
  width: 50px;
  height: 50px;
  margin: 5px;
  cursor: pointer;
  border: 4px solid $white;
  border-radius: 50px;
  opacity: 0.4;
  overflow: hidden;
  transition: all 0.4s;
}
#quote-carousel .carousel-indicators .active {
  background: #333333;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  border-color: $color-orange;
  opacity: 1;
  overflow: hidden;
}
.carousel-inner {
  min-height: 300px;
}
.item blockquote {
  border-left: none;
  margin: 0;
}
.item blockquote {
  p {
    font-size: $font-size-large;
    position: relative;
    z-index: 100;
    &:before {
      position: absolute;
      content: "\f10d";
      font-family: 'Fontawesome';
      font-size: 100px;
      z-index: 48;
      opacity: 0.2;
      top: -35px;
      left: -10px;
    }
  }
}

// fix menu class on scroll down
.scroll-down {
  position: fixed;
  left: 0;
  right: 0;
  background: $dark-purple;
  padding: 10px;
  z-index: 99;
  margin-top: 0;
  transition: all 0.4s ease;
  li {
    padding-top: 10px;
    a {
      padding-bottom: 0;
    }
  }

}
/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* 3D rolling links, idea from http://hakim.se/thoughts/rolling-links
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */

.cl-effect-2 a {
  line-height: 44px;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
}

.cl-effect-2 a span {
  position: relative;
  display: inline-block;
  padding: 0 14px;
  background: $color-orange;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.csstransforms3d .cl-effect-2 a span::before {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;

  background: $color-orange;

  content: attr(data-hover);
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  transition: background 0.3s;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  transform-origin: 50% 0;
}

.cl-effect-2 a:hover span,
.cl-effect-2 a:focus span {
  -webkit-transform: rotateX(90deg) translateY(-22px);
  -moz-transform: rotateX(90deg) translateY(-22px);
  transform: rotateX(90deg) translateY(-22px);
}

.csstransforms3d .cl-effect-2 a:hover span::before,
.csstransforms3d .cl-effect-2 a:focus span::before {
  background: $color-orange;
}

/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* MEDIA QUERIES
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */
@media(max-width: 840px) {
  .item {
    blockquote {
      p{
        font-size: 14px;
      }
    }
  }
  .carousel {
    a {
      i {
        &.fa-2x {
          font-size: 1em;
        }
      }
    }
  }
}
@media (max-width: 768px)  {
  h1 {
    font-size: 28px;
  }
  h3 {
    font-size: 18px;
  }
  h4 {
    font-size: 14px;
  }
  .icon-list {
    font-size: 12px;
    i {
      margin-right: 14px;
    }
  }
  .profile_picture {
    &.margin-top-100 {
      margin-top: 75px;
    }
  }
  .social-media-icons {
    li {
      margin-left: 20px;
      margin-right: 20px;
    }
  }
  .filter-btns {
   .nav-pills {
    li {
      a {
        font-size: 14px;
        margin-left: 18px;
        margin-right: 18px;
      }
    }
  }
}
#quote-carousel {
  .carousel-indicators {
    .active {
      width: 75px;
      height: 75px;
    }
    li {
      width: 35px;
      height: 35px;
    }
  }
  .left, .right {
    display: none;
  }
  .item {
    blockquote {
      padding: 5px 10px;
      p {
        font-size: 14px;
      }
    }
  }
}
}

@media (max-width: 480px)  {
  #features {
    .col-xs-6 {
      width: 100%;
    }
  }
  #effect-5 {
    .col-xs-6 {
      width: 100%;
    }
  }
}

/*--------PRELOADER--------*/
#preloader {
  position: fixed;
  z-index: 999;
  background: white;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.social-networks {
  padding-left: 0;
  li {
    display: inline-block;
  }

  a {
    display: block;
    position: relative;
    margin: 0 7px;
    width: 45px;
    height: 45px;
    font-size: 0;
    line-height: 0;
    text-align: center;
    text-decoration: none;

    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      margin-top: -50%;
      margin-left: -50%;
      border-radius: 100px;
      background-color: transparent;
      border: 2px solid $white;
      transition: all 400ms;
    }

    &:after {
      position: relative;
      display: block;
      font-family: 'FontAwesome';
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      color: #fff;
      font-size: 20px;
      line-height: 47px;
    }

    &:hover, &:focus {
      text-decoration: none;
    }
  }

  &.spin-icon a:hover:after, &.spin-icon a:focus:after {
    transition: transform 0.4s ease-out;
    transform: rotateZ(360deg);
  }
  $networks: linkedin '\f0e1' #0077b5, facebook '\f09a' #3b5998, twitter '\f099' #00b0ed,  instagram '\f16d' #3f729b, pinterest '\f231' #cc2127;

  @each $network in $networks {
   .icon-#{nth($network, 1)} {
     &:after {
       content: '#{nth($network, 2)}';
     }

     &:hover:before, &:focus:before {
      background: nth($network, 3);
      border: 2px solid transparent;
    }
  }
}
}

#main-cta-container {
  margin-top: 10em;
  margin-bottom: 10em;

  h1 {
    font-size: 80px;
    margin-bottom: 20px;
  }

  h4 {
    font-size: 25px;
    font-weight: normal;
  }

  a {
    margin-top: 100px;
    padding: 25px 80px;
    font-size: 25px;
  }

}

#secondary-cta-container {

  width: 50%;
  margin: 500px 25%;

  h2 {
    font-size: 50px;
    margin: 15px auto;
  }

  h4 {
    margin: 30px auto;    
    font-size: 25px;
    font-weight: normal;
  }

}

#side-cta {
  position: fixed;
  right: -100px;
  top: 50%;
  transform: translate(0, -50%) rotateZ(90deg);
  transition: right 0.2s ease-out;
  z-index: 99;

  &.open {
    left: auto;
    right: -30px;
  }

}

a[data-action="play-game"] {
  opacity: 1;
  transition: all 0.5s ease-out;

  body:not(.fivenationsLoaded) & {
    opacity: 0;
  }
}

#fivenations-game {

  height: 0;
  opacity: 0;
  transition: all 0.5s ease-in-out;

  &.open {
    position: relative;
    height: 100%;
    opacity: 1;
  }

  /**
   * Phaser adds inline style attributes to alter vital attributes of the canvas hence the important
   */
  canvas {
    margin: auto !important;
  }

}

#development {
  h2 {
    margin: 40px auto 80px;
  }
}

.developmentDetailsContainer {
  display: inline-block;
  margin: 0 auto 30px;

  .textContainer {
    padding: 0;
    h4 { margin-bottom: 20px; }
    p { margin-bottom: 60px; }
  }
}

#travis-container {
  margin: 20px auto;

  .buildsContainer {
    margin: 0;
    padding: 0;
  }

  .buildItem {
    margin: 0 auto 20px;
    border: 1px solid $color-light-grey;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);

    div {
      margin: 0;
      padding: 0;
    }

    & > div {
      padding: 5px;
    }

    & > div:last-child {
      font-size: 0.8em;
    }

    a {
      color: $color-light-grey;
    }

    p {
      color: $color-default;
    }

  }

}

#github-issues-container {

  margin: 20px auto;

  .issuesContainer {
    margin: 0;
    padding: 0;
  }

  a { 
    color: $color-grey; 
    font-weight: bold; 
  }

  .issueItem {

    margin: 0 auto;

    div {
      margin: 0;
      padding: 0;
    }

    & > div {
      padding: 5px;
    }

    & > div:first-child {
      background-color: $github_blue;
    }

    & > div:last-child {
      font-size: 0.8em;
    }

    a {
      color: $color-default;
    }

    .issueTitle {
      font-weight: bold;
    }

  }
}

#instagram-container {

  .pin {
    margin: 20px 20px 0 0;
    padding: 10px;
    background-color: white;
    box-shadow: 0 0 100px 1px rgba(0, 0, 0, 0.5);
    transition: transform 0.5s;
  }

  .pin:hover {
    cursor: pointer;
    transform: scale(1.1);
  }

  .pinFooter {
    margin: 10px auto 0;
  }

  .instagramContainer img {
    width: 100%;
    height: auto;
  }

}

.modal .modal-title {
  display: inline-block;
}

#about-us {

  padding-top: 90px;
  padding-bottom: 69px;
  
  h3 {
    color: $color-webellion-red;
    text-transform: capitalize;
  }

  a {
    color: $color-webellion-red;
  }

  p { font-size: 14px; }

  img { height: auto; }

  .aboutUsFooter {
    img {
      width: 30%;
    }
  }

  .teamMembers {

    left: 50%;
    transform: translate(-50%);    
    margin: 40px auto;

    .teamMember {
      img {
        width: 100%;
        max-width: 150px;
        margin-bottom: 20px;
        border-radius: 50%;
        border: 2px solid white;
        box-shadow: 0 10px 30px 1px rgba(0, 0, 0, 0.25);
      }

      &:last-child {
        float: right;
        margin-left: 20px;
      }

    }


  }

}

#features {

  position: relative;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.25);
  z-index: 1;

  div {
    padding-left: 0; 
    padding-right: 0; 
  }

  .headerContainer {
    position: relative;
    padding: 75px 0;
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.5);
    z-index: 1;

    .headerIcon {
      padding: 10px;      
      background-color: $color-webellion-red;
      color: white;
      font-size: 25px;
      border-radius: 50%;
    }

  }

  .FeatureItem {

    max-width: 1500px;
    color: white;

    h3 {
      margin-bottom: 10%;
      font-size: 30px;

      @include dekstop-small-screen { font-size: 15px; }
      @include tablet { font-size: 13px; } 
      @include mobile { font-size: 12px; }            

    }

    p {
      font-size: 20px;
      text-align: justify;

      @include dekstop-small-screen { font-size: 13px; }
      @include tablet { font-size: 11px; }
      @include mobile { font-size: 10px; }         

    }

    .textContainer {
      position: absolute;
      top: 0;
      left: 0;
      padding: 10%;

      .btn {
        margin: 10% auto;

        @include tablet { display: none; }
        @include mobile { display: none; }

      }

    }

    .imageContainer {

      position:relative;
      
      width: 100%;
      height: 100%;
      overflow: hidden;

      img {
        width: 100%;
        height: auto;
        transition: 1s transform;

        &.zoomAnimation:hover {
          transform: scale(1.15);
        }

        &.backgroundImage {
          opacity: 0.05;
        }
      }

    }

  }


}


.bg-light {
  background-color: white;
}

.bg-dark {

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#375666+0,0e0533+99 */
  background: #375666; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #375666 0%, #0e0533 99%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, #375666 0%,#0e0533 99%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #375666 0%,#0e0533 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#375666', endColorstr='#0e0533',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.viewport-animation:not(.in-viewport) {
  animation-play-state: paused;
}

.delay-1 { animation-delay: 1s; }
.delay-2 { animation-delay: 2s; }
.delay-3 { animation-delay: 3s; }
.delay-4 { animation-delay: 4s; }
.delay-5 { animation-delay: 5s; }

.delay-100 { animation-delay: 0.1s; }
.delay-250 { animation-delay: 0.25s; }
.delay-500 { animation-delay: 0.5s; }

.duration-1 { animation-duration: 1s; }
.duration-2 { animation-duration: 2s; }
.duration-3 { animation-duration: 3s; }
.duration-4 { animation-duration: 4s; }
.duration-5 { animation-duration: 5s; }
