
.hero-video {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;

  background-color: rgba(0,0,0,0.35);   
  color: #fff;

  video {
    position: fixed;
    right: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto;
    z-index: -100;
  }
  
}

body.fivenationsStarted .backdrop {
  display: none;
}
