/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:6060d66e18a28bf509824f2de7f846a8:a6fbf65212be6cae6cbc27b940fc1696:2d903220da6ad00a653de9f6159154fa$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url('../public/images/webpage_atlas.png');}

.fivenations_0header {width:1920px; height:172px; background-position: -1px -273px}
.fivenations_0header_logo_2color {width:151px; height:64px; background-position: -1878px -697px}
.fivenations_0header_menu_highlight {width:179px; height:92px; background-position: -1414px -1019px}
.fivenations_1videobody_btn_play_base {width:451px; height:133px; background-position: -1px -1148px}
.fivenations_1videobody_btn_play_over {width:451px; height:133px; background-position: -454px -1148px}
.fivenations_1videobody_logo {width:447px; height:294px; background-position: -1414px -723px}
.fivenations_2developmentbody_header {width:1920px; height:270px; background-position: -1px -1px}
.fivenations_2developmentbody_icon01 {width:137px; height:136px; background-position: -1863px -763px}
.fivenations_2developmentbody_icon02 {width:137px; height:136px; background-position: -1863px -901px}
.fivenations_2developmentbody_icon03 {width:137px; height:136px; background-position: -1643px -1019px}
.fivenations_2developmentbody_icon04 {width:137px; height:136px; background-position: -1782px -1039px}
.fivenations_3game_backgroundglow {width:1411px; height:699px; background-position: -1px -447px}
.fivenations_3game_btn_tryit_base {width:366px; height:133px; background-position: -907px -1148px}
.fivenations_3game_btn_tryit_over {width:366px; height:133px; background-position: -1275px -1148px}
.fivenations_4supportus_btn_donate_base {width:462px; height:136px; background-position: -1414px -447px}
.fivenations_4supportus_btn_donate_over {width:462px; height:136px; background-position: -1414px -585px}
.fivenations_floating_btn_base {width:114px; height:346px; background-position: -1923px -1px}
.fivenations_floating_btn_over {width:114px; height:346px; background-position: -1923px -349px}
